<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2 mt-3">
                <h3>Create a New Listing</h3>
                <br><br>
                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title">Title</label>
                        <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
                        <div class="valid-feedback">Title looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label ">Description</label>
                        <textarea name="listing[description]" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please enter a short description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image">Upload Image</label>
                        <input name="listing[image]" placeholder="enter image link/URL" class="form-control"
                            type="file" required>
                    </div>
                    <div class="mb-3">
                        <label for="price">Enter Price</label>
                        <input name="listing[price]" class="form-control" placeholder="enter price" required>
                        <div class="invalid-feedback">Price should be valid</div>

                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="country">Country</label>
                            <input name="listing[country]" class="form-control" placeholder="enter country" type="text" required>
                            <div class="invalid-feedback">country should be valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location">Location</label>
                            <input name="listing[location]" class="form-control" placeholder="enter location" type="text " required>
                            <div class="invalid-feedback">Location should be valid</div>
                        </div>
                    </div>       
                    <br><br>
                    <button class="btn btn-dark add-btn mt-3">Add</button>
                </form>
            </div>
        </div>
    </body>

    </html>